{:source-paths ["src", "test"]
 :lein {:profile "+ui"}
 :jvm-opts ["Xmx1G"]
 :dev-http {8081 "resources/public"}
 :builds {:prod
          {:target :browser
           :output-dir "resources/public/js"
           :asset-path "/js"
           :module-hash-names true
           :compiler-options {:optimizations :whitespace
                              :source-maps false
                              :output-feature-set :es6}
           :build-options {:mainfest-name "manifest.json"}
           :dev-tools {:target :browser}
           :nrepl {:port 9090
                   :init-ns ui.dev}
           :dev {:modules {:app {:init-fn ui.dev/initApp}}}
           :modules {:app {:init-fn ui.app/initApp}}}}}